.product-carousel {
    display: flex;
    list-style: none;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
  
    & .product-carousel__item {
        flex-shrink: 0;
        height: auto;
        scroll-snap-align: start;
        padding: 0.5rem;
        height: 100%;
        margin-bottom: 0.2rem;
    }
}