.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    height: 400px;
    gap: 0.5rem;
    border-radius: 0.5rem;
    color: var(--color-text);
    box-shadow: color-mix(in srgb, var(--color-text-dark) 10%, transparent) 2px 2px 8px 2px;

    .product-card__image {
        width: 100%;
        overflow: hidden;
        object-fit: contain;
    }

    .product-card__details {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        justify-content: space-between;

        .product-card__details__price {
            display: inline-block;
            font-size: 1.2rem;
        }

        > button {
            appearance: button;
            backface-visibility: hidden;
            background-color: var(--color-accent);
            border-radius: 6px;
            border-width: 0;
            box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
            box-sizing: border-box;
            color: #fff;
            cursor: pointer;
            font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
            font-size: 100%;
            height: auto;
            line-height: 1.15;
            outline: none;
            overflow: hidden;
            padding: 0 25px;
            position: relative;
            text-align: center;
            text-transform: none;
            transform: translateZ(0);
            transition: all .2s,box-shadow .08s ease-in;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
        }

        > button:disabled {
            cursor: default;
        }

        > button:focus {
            box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
        }
    }
}