body {
    margin: unset;
    background-color: var(--color-background);
}

body.light-mode {
    --color-text: black;
    --color-background: white;
}

body.dark-mode  {
    --color-text: white;
    --color-background: #2f2f2f;
}