body {
    margin: unset;
    background-color: var(--color-background);
}

body.light-mode {
    --color-text: #000;
    --color-text-dark: #070606;
    --color-text-light: #757575;
    --color-background: #fff;
}

body.dark-mode  {
    --color-text: #fff;
    --color-text-light: #eee;
    --color-text-dark: #adadad;
    --color-background: #070606;
}